.arrow {
    color: rgb(0, 0, 0);
    margin-left: 6px;
    width: 10%;
}

img {
    width: 40%;
    margin:30px 0 30px 0;
}

@media screen and (min-width: 768px) {
    .arrow {
        margin-bottom: 60px;
    }
    
    
}

@media screen and (min-width: 1024px) {
    .land{
        margin-top: 100px;
    }
    img {
        width: 35%;
    }
    .arrow {
        width: 20%;
        margin-bottom: 100px;
    }
}