.land{
    margin-top: 20px;
}

.arrow {
    color: rgb(0, 0, 0);
    margin-left: 6px;
    width: 10%;
}

img {
    width: 40%;
    margin:30px 0 30px 0;
}
@media screen and (min-width: 1000px) {
    .land{
        margin-top: 100px;
    }
    img {
        width: 10%;
    }
    .arrow {
        width: 2%;
    }
    /* .icons {
        width: 100%;
    } */
}