.listContainer {
    margin-top: 30px;
    border: solid 1px black;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
        ),
        url(../img/Liquid-pattern-11.jpg);
    background-size: 200px;
    color: rgb(201, 201, 201);
    box-shadow: 1px 1px 5px #1f1f1f;
    margin-left: 80px;
}
.graph{
    text-decoration: none;
    margin:0px 10px 0px 10px;

}
.graph:hover{
    cursor: pointer;
    color: rgb(131, 131, 131);
    text-shadow: 2px 2px 5px #a0a0a0;
    transform: translateY(1px);
}
.graph:active{
    transform: translateY(2px);
}
.graphImg{
    /* if we can git img */
}