*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  position: relative;
  background-color: rgba(218, 218, 218, 0.746);
}

.App {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  text-align: center;
}

h2 {
  font-family: clax;
  font-size: 40px;
  letter-spacing: 2px;
}

@font-face {
    font-family: clax;
    src: url(./fonts/Claxton.otf);
}